.block_builder {
  display:grid;

  &.style_1 {
    grid-template-columns: 7% 93%;

    > * {
      margin: 0 auto;
      align-self: center;
    }

    p {
      font-size: 1.25rem;
    }
  }
}

.row {
  input {
    width: 100%;
    border: none;
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: transparent;
  }
}
